<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MyFirstWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusDetails</display-name>
    <servlet-name>BusDetails</servlet-name>
    <servlet-class>BusDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusDetails</servlet-name>
    <url-pattern>/BusDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TripDetailsServlet</display-name>
    <servlet-name>TripDetailsServlet</servlet-name>
    <servlet-class>TripDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TripDetailsServlet</servlet-name>
    <url-pattern>/TripDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookSeatServlet</display-name>
    <servlet-name>BookSeatServlet</servlet-name>
    <servlet-class>BookSeatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookSeatServlet</servlet-name>
    <url-pattern>/BookSeatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingDetailsServlet</display-name>
    <servlet-name>BookingDetailsServlet</servlet-name>
    <servlet-class>BookingDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingDetailsServlet</servlet-name>
    <url-pattern>/BookingDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeRegistrationServlet</display-name>
    <servlet-name>EmployeeRegistrationServlet</servlet-name>
    <servlet-class>EmployeeRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRegistrationServlet</servlet-name>
    <url-pattern>/EmployeeRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpLoginServlet</display-name>
    <servlet-name>EmpLoginServlet</servlet-name>
    <servlet-class>EmpLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpLoginServlet</servlet-name>
    <url-pattern>/EmpLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationOfBus</display-name>
    <servlet-name>ReservationOfBus</servlet-name>
    <servlet-class>ReservationOfBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationOfBus</servlet-name>
    <url-pattern>/ReservationOfBus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBusServlet</display-name>
    <servlet-name>AddBusServlet</servlet-name>
    <servlet-class>AddBusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBusServlet</servlet-name>
    <url-pattern>/AddBusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTripServlet</display-name>
    <servlet-name>AddTripServlet</servlet-name>
    <servlet-class>AddTripServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTripServlet</servlet-name>
    <url-pattern>/AddTripServlet</url-pattern>
  </servlet-mapping>
</web-app>